<section class="main-section sticky-top">
  <div class="wrapper-section">
    <a class="logo" href="/">Kioskofy</a>
    <button  *ngIf="isMobile" (click)="isMenuCollapsed = !isMenuCollapsed" class="btn-hamburger cursor-pointer">
      <fa-icon [icon]="icon_bars"></fa-icon>
    </button>
    <div *ngIf="!isMobile" class="search-main-container" (click)="$event.stopPropagation()">
      <div class="search-container">
        <input type="text" [(ngModel)]="searchText" (keyup)="onIntervalSearch()" placeholder="Search here">
        <fa-icon [icon]="icon_search"></fa-icon>
      </div>
      <div class="search-modal" *ngIf="searchText && searchModal">
        <app-loading *ngIf="loadingSearch"></app-loading>
        <div class="search-modal-list" *ngIf="searchResultList.length > 0 && !loadingSearch">
          <div class="option-container cursor-pointer" (click)="openLink(item)" *ngFor="let item of searchResultList">
            <img [src]="item?.image" alt="">
            <p>{{item?.name}}</p>
          </div>
        </div>
        <p class="not-found-text" *ngIf="!loadingSearch && searchResultList.length <= 0">No results found</p>
      </div>
    </div>
    <nav class="navbar-container" [class.mobile-hide]="isMobile && isMenuCollapsed" [class.mobile-show]="isMobile && !isMenuCollapsed" [class.menu-is-not-mobile]="!isMobile">
      <ul>
        <li>
          <a class="nav-link cursor-pointer" routerLink="products/all" (click)="isMenuCollapsed = true"
            routerLinkActive="active-link">
            <h3 class="header-button-text">Products</h3>
          </a>
        </li>
        <li>
          <a class="nav-link cursor-pointer" routerLink="/services" (click)="isMenuCollapsed = true"
            routerLinkActive="active-link">
            <h3 class="header-button-text">Services</h3>
          </a>
        </li>
        <li>
          <a class="nav-link cursor-pointer" routerLink="/stores" (click)="isMenuCollapsed = true"
            routerLinkActive="active-link">
            <h3 class="header-button-text">Stores</h3>
          </a>
        </li>
        <li>
          <a class="nav-link cursor-pointer" routerLink="/stores" (click)="isMenuCollapsed = true"
            routerLinkActive="active-link">
            <h3 class="header-button-text">¡Promo!</h3>
          </a>
        </li>
        <ng-container *ngIf="!user_logged; else user_info">
          <li>
            <a class="nav-link cursor-pointer" (click)="signUpUser()" (click)="isMenuCollapsed = true"
              routerLinkActive="active-link">
              <button class="button-main-light button-rounded" mat-raised-button>
                <p class="h5 bold">
                  Sign up
                </p>
              </button>
            </a>
          </li>
          <li>
            <a class="nav-link cursor-pointer" (click)="loginUser()" (click)="isMenuCollapsed = true"
              routerLinkActive="active-link">
              <button class="button-main button-rounded" mat-raised-button>
                <p class="h5 bold">
                  Log in
                </p>
              </button>
            </a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</section>
<app-sub-header></app-sub-header>

<ng-template #user_info>
  <li *ngIf="user_logged">
    <a class="nav-link cursor-pointer" (click)="isMenuCollapsed = true" routerLinkActive="active-link">
      <button class="button-main-light button-rounded" mat-raised-button>
        <p class="h5 bold">
          Orders
        </p>
      </button>
    </a>
  </li>
  <li *ngIf="user_logged">
    <a class="nav-link cursor-pointer" (click)="seeUserData()" (click)="isMenuCollapsed = true"
      routerLinkActive="active-link">
      <button class="button-main button-rounded gap-2 button-login" mat-raised-button>
        <span class="profile-picture-container flex-row-center">
          <fa-icon [icon]="icon_user"></fa-icon>
        </span>
        <p class="h5 bold">
          {{user_logged.name}}
        </p>
      </button>
    </a>
  </li>
</ng-template>


<ng-template #loading>
</ng-template>
