.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: var(--color-main-2);
}

.wrapper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0px 10px;
}

.logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
}

.btn-hamburger {
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: white;
}

li {
  list-style: none;
}

.navbar-container {
  display: flex;
  padding: 5px;
  max-width: 1200px;
  background-color: var(--color-main-2);
  border-radius: 7px;
  position: absolute;
  top: 85px;
  margin: 0 5px;
  left: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
}

.navbar-container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--color-main);
}

.search-main-container {
  position: relative;
  flex-grow: 1;
}

.menu-is-not-mobile {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  position: initial;
}

.menu-is-not-mobile ul {
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.mobile-show {
  display: flex;
}

.mobile-hide {
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  height: 35px;
  margin-left: 32px;
  border: 1px solid var(--color-main);
  border-radius: 40px;
  background-color: white;
  width: 100%;
  padding: 0px 16px;
}

.search-container input {
  border: none;
  flex-grow: 1;
}

.search-container input:focus {
  outline: none;
}

.search-modal {
  position: absolute;
  top: 58px;
  left: 32px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: fit-content;
  border: 7px;
  box-shadow: 0px 5px 5px grey;
  background-color: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.search-modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-container {
  display: flex;
  gap: 10px;
}

.option-container p {
  font-size: 16px;
}

.option-container img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.not-found-text {
  font-size: 16px;
  margin: 0 auto;
}
