<!-- <div id="top-header" class="col-12 d-flex flex-row align-items-center sticky-top">
    <div class="col-8 d-flex justify-content-start" style="font-size: 14px;"></div>
    <div class="col-4 d-flex justify-content-between">
        <div><img src="../../../assets/img/Footer/Grupo 54.png" class="redes-sociales cursorPointer"
                alt="Ícono Facebook" (click)="openLink('https://www.facebook.com/feat.B4B')"></div>
        <div><img src="../../../assets/img/Footer/Grupo 53.png" class="redes-sociales cursorPointer" alt="Ícono Twitter"
                (click)="openLink('https://twitter.com/Feat_b4b')"></div>
        <div><img src="../../../assets/img/Footer/Grupo 52.png" class="redes-sociales cursorPointer"
                alt="Ícono Instagram" (click)="openLink('https://www.instagram.com/feat.b4b/')"></div>
    </div>
</div> -->

<section class="sticky-top">
    <div id="wrapper-nav" class="px-4">
        <nav class="navbar col-12 navbar-expand-lg navbar-light sticky-top m-0 p-0">
            <div class="logo-menu col-xl-2 col-lg-2 col-md-3 col-sm-8 col-6">
                <a routerLink="/home">
                    <img src="../../../assets/logos/logo300.png" class="logo" alt="logo" />
                </a>
            </div>
            <button class="navbar-toggler col-3 col-sm-2 hidden-sm-up text-light" type="button"
                (click)="isMenuCollapsed = !isMenuCollapsed">
                <!-- <fa-icon [icon]="faBars"></fa-icon> -->
                x
            </button>
            <div [ngbCollapse]="isMenuCollapsed"
                class="col-xl-5 col-lg-6 col-md-4 collapse navbar-collapse d-flex justify-content-center ">
                <form class="example-form col-12">
                    <mat-form-field class="w-100">
                        <input #escogido type="text" placeholder="Buscar por nombre del producto"
                            aria-label="Buscar distribuidor" [formControl]="mySearch" [matAutocomplete]="auto"
                            class="input-search rounded px-3 border-transparent border-left" matInput />
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                            [displayWith]="itemDisplayFn" class="w-100 p-0 m-0" (optionSelected)="openLink($event)">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{ option?.nombre }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <!-- <span class="border-transparent border-right">0</span> -->
                </form>
            </div>
            <div [ngbCollapse]="isMenuCollapsed" class="col-xl-5 col-lg-4 col-md-5 collapse navbar-collapse"
                id="navbarsDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 h-100 d-flex justify-content-end w-100">
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" routerLink="products/all" (click)="isMenuCollapsed = true"
                            routerLinkActive="active-link">
                            <h3>Products</h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" routerLink="/services" (click)="isMenuCollapsed = true"
                            routerLinkActive="active-link">
                            <h3>Services</h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" routerLink="/stores" (click)="isMenuCollapsed = true"
                            routerLinkActive="active-link">
                            <h3>Stores</h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" routerLink="/cuenta" (click)="isMenuCollapsed = true"
                            routerLinkActive="active-link">
                            <button class="button-main-light button-rounded" mat-raised-button>
                                <h3 class="text-color-main">
                                    Sign up
                                </h3>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link cursor-pointer carrito d-flex flex-row pr-3" routerLink="/carrito"
                        (click)="isMenuCollapsed = true" routerLinkActive="active-link">
                        <h3>
                            <fa-icon [icon]="faShoppingCart"></fa-icon>
                            <span class="temp-text">
                                &nbsp;Carrito
                            </span>
                            <span class="badge-car">{{ productcounter }}</span>
                        </h3>
                    </a> -->
                        <a class="nav-link cursor-pointer" routerLink="/cuenta" (click)="isMenuCollapsed = true"
                            routerLinkActive="active-link">
                            <button class="button-main button-rounded" mat-raised-button>
                                <!-- <fa-icon [icon]="faUser"></fa-icon> -->
                                <h3 class="header-button-text">
                                    Sign in
                                </h3>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<div class="quick-access__ContainerQuickStyled-wa43lg-0 fndMVb "
    [ngClass]="[flag_scroll_up === true ? 'container-quick-access-active' : 'container-quick-access-inactive']">
    <section id="wrapper-sub-nav" class="px-4">
        <div>
            <h3>Select a city</h3>
        </div>
    </section>
</div>