::ng-deep .mat-tab-link {
    color: black;
    opacity: 1;
}

/* Styles for the active tab label */
::ng-deep .mat-tab-label-active {
    font-family: 'Lato-Bold', sans-serif !important;
    color: var(--color-main);
    font-weight: 700;
    background-color: var(--color-main-2);
    border-radius: 4px;
    opacity: 1 !important;
}

::ng-deep .mat-ink-bar {
    background-color: var(--color-main) !important;
}