<section>
    <mat-list>
        <div class="d-flex flex-column pb-2">
            <p class="col-12 h5 bold text-end" *ngIf="orders && orders.length">
                Total: {{orders.length}}
            </p>
            <div class="d-flex flex-row gap-3">
                <span class="flex-row-start-center gap-1">
                    <span class="badge badge-confirmed"></span>
                    <p class="h5">Confirmed</p>
                </span>
                <span class="flex-row-start-center gap-1">
                    <span class="badge badge-completed"></span>
                    <p class="h5">Completed</p>
                </span>
                <span class="flex-row-start-center gap-1">
                    <span class="badge badge-cancelled"></span>
                    <p class="h5">Cancelled</p>
                </span>
            </div>
        </div>
        <mat-divider class="w-100"></mat-divider>
        <div *ngIf="orders && orders.length">
            <span class="d-flex flex-column col-12" *ngFor="let order of orders">
                <a (click)="goToOrder(order.order_id)">
                    <mat-list-item class="d-flex gap-2 h-100 py-2"
                        [ngClass]="{'order-selected': order.order_id === order_selected}">
                        <!-- Item image -->
                        <div class="col-4 img-container m-2">
                            <img [src]="order.item_id.images[0]" alt="Item image">
                        </div>
                        <!-- Item data -->
                        <div class="col-8">
                            <div class="col-12">
                                <p class="h5 bold ellipsis">
                                    {{order.item_id.name}}
                                </p>
                                <p class="h5">
                                    {{order.item_id.price | currency: 'CAD':'symbol':'1.0-0'}}
                                </p>
                                <p class="h5">
                                    Condition: {{order.item_id.condition}}
                                </p>
                                <p class="d-flex flex-row align-items-center gap-2 h5 text-end col-12">
                                    Order: {{order.order_id}}
                                    <span class="badge" *ngIf="order.status === 'pending'; else other_badges"></span>
                                    <ng-template #other_badges>
                                        <span class="badge badge-confirmed" *ngIf="order.status === 'confirmed'"></span>
                                        <span class="badge badge-completed" *ngIf="order.status === 'completed'"></span>
                                        <span class="badge badge-cancelled" *ngIf="order.status === 'cancelled'"></span>
                                    </ng-template>
                                </p>
                            </div>
                            <div class="col-12 d-flex flex-row align-items-center justify-content-end gap-2">
                                <p class="h5">
                                    {{order.seller.name}} {{order.seller.last_name}}
                                </p>
                                <app-profile-picture
                                    [profile_picture]="order.seller.profile_picture"></app-profile-picture>
                                <!-- <span class="profile-picture-container">
                                    <span *ngIf="order.seller.profile_picture; else icon_user">
                                        <img [src]="order.seller.profile_picture" alt="seller profile picture"
                                            class="p-1">
                                    </span>
                                    <ng-template #icon_user>
                                        <fa-icon [icon]="faUser"></fa-icon>
                                    </ng-template>
                                </span> -->
                            </div>
                        </div>
                    </mat-list-item>
                </a>
                <mat-divider class="w-100"></mat-divider>
            </span>
        </div>
    </mat-list>
</section>