section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
}

.gallery-container {
    width: 100%;
    overflow: auto;
}

.gallery {
    display: flex;
    gap: 10px;
}

.gallery-row {
    flex-direction: row;
}


.gallery-column {
    flex-direction: column;
}

.image {
    border: 2px solid #EBEBEB;
    border-radius: 12px;
    opacity: 1;
    object-fit: cover;
    margin: 0 !important;
    min-width: 60px;
    cursor: pointer;
}

.image-active {
    border: 2px solid var(--color-main-2) !important;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70px;
    width: 70px;
}

video {
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
}

.img-video-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}