<section>
    <div class="wrapper-background-color-right">
        <div class="d-flex flex-row container-max-width-center py-3">
            <!-- Carousel cards -->
            <div class="w-75 container-carousel">
                <div #container_portfolio class="d-flex align-items-center container-scroll-x h-100">
                    <div class="container-cards">
                        <app-card-mini *ngFor="let item of portfolio; let i = index"></app-card-mini>
                    </div>
                    <!-- Scroll carousel -->
                    <span class="scroll-button-left ps-2"
                        (click)="scrollContainer('left', container_portfolio, 250, 'button')">
                        <img src="assets/icons/Arrowleft_n.png" width="30" height="30" alt="Scroll left arrow">
                    </span>
                    <span class="scroll-button-right pe-2"
                        (click)="scrollContainer('right', container_portfolio, 250, 'button')">
                        <img src="assets/icons/Arrowright_n.png" width="30" height="30" alt="Scroll right arrow">
                    </span>
                </div>
            </div>
            <!-- Description -->
            <div class="w-25 flex-column-center ps-4">
                <h1 class="font-weight-bold">{{data.title}}:</h1>
                <h4 class="my-4 text-justify">{{data.description}}</h4>
                <div class="button-main">{{data.button_text}}</div>
            </div>
        </div>
    </div>
</section>