<section id="wrapper-home">
    <!-- Main banner -->
    <div class="container-max-width-center">
        <app-banner class="d-flex container-max-width-center w-100"></app-banner>
    </div>
    <!-- Products Top -->
    <div class="d-flex flex-column container-max-width-center gap-2">
        <div class="flex-row-start-end gap-3">
            <h1 class="font-weight-bold">Top products</h1>
            <h3>
                <a href="#" class="button-text">See more</a>
            </h3>
        </div>
        <app-carousel [isBannerShown]="true"></app-carousel>
    </div>
    <!-- Products Startups -->
    <div class="d-flex flex-column container-max-width-center gap-2">
        <div class="flex-row-start-end gap-3">
            <h1 class="font-weight-bold">Startups products</h1>
            <h3>
                <a href="#" class="button-text">See more</a>
            </h3>
        </div>
        <app-carousel [isBannerShown]="false"></app-carousel>
    </div>
    <!-- Products Non-profit -->
    <div class="d-flex flex-column container-max-width-center gap-2">
        <div class="flex-row-start-end gap-3">
            <h1 class="font-weight-bold">Non-profit products</h1>
            <h3>
                <a href="#" class="button-text">See more</a>
            </h3>
        </div>
        <app-carousel [isBannerShown]="false"></app-carousel>
    </div>
    <!-- Four banners -->
    <div class="w-100">
        <app-home-four-banners></app-home-four-banners>
    </div>
    <!-- Services Top -->
    <div class="d-flex flex-column container-max-width-center gap-2">
        <div class="flex-row-start-end gap-3">
            <h1 class="font-weight-bold">Top services</h1>
            <h3>
                <a href="#" class="button-text">See more</a>
            </h3>
        </div>
        <app-carousel [isBannerShown]="true"></app-carousel>
    </div>
    <!-- Services Startups -->
    <div class="d-flex flex-column container-max-width-center gap-2">
        <div class="flex-row-start-end gap-3">
            <h1 class="font-weight-bold">Startups services</h1>
            <h3>
                <a href="#" class="button-text">See more</a>
            </h3>
        </div>
        <app-carousel [isBannerShown]="false"></app-carousel>
    </div>
    <!-- Services Non-profit -->
    <div class="d-flex flex-column container-max-width-center gap-2">
        <div class="flex-row-start-end gap-3">
            <h1 class="font-weight-bold">Non-profit services</h1>
            <h3>
                <a href="#" class="button-text">See more</a>
            </h3>
        </div>
        <app-carousel [isBannerShown]="false"></app-carousel>
    </div>
    <!-- Cards - Categories -->
    <div>
        <app-home-categories></app-home-categories>
    </div>
    <!-- Middel banners -->
    <div class="container-max-width-center">
        <app-home-two-banners></app-home-two-banners>
    </div>
    <!-- General Information -->
    <div class="container-max-width-center">
        <app-what-to-do></app-what-to-do>
    </div>
    <!-- Information panel -->
    <div class="w-100">
        <app-home-expansion-panel></app-home-expansion-panel>
    </div>
</section>