<div class="row m-0 p-0">
    <!-- Banner -->
    <div class="col-6 banner-signup"></div>
    <!-- Form -->
    <div class="col-6 p-4 my-3">
        <div class="flex-row-between">
            <h2>Sign up</h2>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <hr>
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="d-flex flex-column gap-3">
            <div class="form-group">
                <label for="password" class="h5 pb-2">Current password</label>
                <input #password_old_1 type="password" class="form-control h5" formControlName="password_old_1"
                    placeholder="Enter your password"
                    [ngClass]="{'invalid-input': passwordForm.get('password_old_1')?.hasError('required') && passwordForm.get('password_old_1')?.touched}">
                <a class="button-text-link w-100 text-right"
                    (click)="password_old_1.type === 'text' ? password_old_1.type = 'password' : password_old_1.type = 'text'">
                    Show password
                </a>
            </div>
            <div class="form-group">
                <label for="password" class="h5 pb-2">Confirm current password</label>
                <input #password_old_2 type="password" class="form-control h5" formControlName="password_old_2"
                    placeholder="Repeat your password"
                    [ngClass]="{'invalid-input': passwordForm.get('password_old_2')?.hasError('required') && passwordForm.get('password_old_2')?.touched}">
                <a class="button-text-link w-100 text-right"
                    (click)="password_old_2.type === 'text' ? password_old_2.type = 'password' : password_old_2.type = 'text'">
                    Show password
                </a>
            </div>
            <div class="form-group">
                <label for="password" class="h5 pb-2">New Password</label>
                <input #password_new type="password" class="form-control h5" formControlName="password_new"
                    placeholder="New password"
                    [ngClass]="{'invalid-input': (passwordForm.get('password_new')?.hasError('required') && passwordForm.get('password_new')?.touched)
                    || (passwordForm.get('password_new')?.hasError('pattern') && passwordForm.get('password_new')?.touched)}">
                <a class="button-text-link w-100 text-right"
                    (click)="password_new.type === 'text' ? password_new.type = 'password' : password_new.type = 'text'">
                    Show password
                </a>
                <p class="h6">
                    Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one
                    special character.
                </p>
            </div>
            <button type="submit" class="button-main mt-2">
                Change password
            </button>
        </form>
    </div>
</div>