section {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#stage {
    margin: 1em auto;
    width: 382px;
    height: 292px;
}

#stage span {
    position: absolute;
}

#stage span img {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

#stage span:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
}

#stage span:nth-of-type(2) {
    z-index: 10;
}

#stage span:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}