.mat-expansion-panel {
    border: none;
    box-shadow: none;
}

.mat-checkbox .mat-checkbox-frame {
    transform: scale(0.8);
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(0.8);
}

.mat-radio-container {
    transform: scale(0.8);
}