<mat-card class="example-card">
    <img mat-card-image [src]="pre_card_info.image" alt="Photo of a Shiba Inu">
    <mat-card-content class="d-flex flex-column align-items-center justify-content-center m-0">
        <h4 class="d-inline-block text-truncate text-capitalize font-weight-bold">{{pre_card_info.name}}</h4>
        <div class="d-flex flex-row justify-content-between align-items-center g-2">
            <h3 class="font-weight-bold">{{ pre_card_info.price | currency: 'CAD':'symbol':'1.0-0' }}</h3>
            &nbsp;<sub>{{pre_card_info.quantity}}/{{pre_card_info.measure}}</sub>
        </div>
        <img [src]="pre_card_info.country" width="16" height="16">
    </mat-card-content>
</mat-card>