<div class="paginator gap-3">
    <!-- Previous -->
    <button class="before-next" *ngIf="page_current > 1"
        [ngClass]="page_current <= 1 ? 'button-disabled' : 'before-next'" [disabled]="page_current <= 1"
        (click)="goToPreviousPage()">
        <p class="h5">Prev</p>
    </button>
    <!-- Jump to first page -->
    <div class="number cursor-pointer" *ngIf="page_current > 2" (click)="goToPage(1)">
        <p class="h5">1</p>
    </div>
    <div class="number-no-border cursor-pointer" *ngIf="page_current > 2" (click)="goToPage(page_current - 2)">
        ...
    </div>
    <!-- Paginator -->
    <div class="number cursor-pointer" (click)="goToPage(page_current - 1)" *ngIf="page_current === 1">
        <p class="h5">{{page_current - 1 === 0 ? '-' : page_current - 1}}</p>
    </div>
    <div class="number number-active">
        <p class="h5">{{page_current}}</p>
    </div>
    <div class="number cursor-pointer" (click)="goToPage(page_current + 1)" *ngIf="page_current < page_total">
        <p class="h5">{{page_current >= page_total ? '-' : page_current + 1}}</p>
    </div>
    <!-- Jump to last page -->
    <button class="number-no-border cursor-pointer" *ngIf="page_total - page_current >=  2"
        (click)="goToPage(page_current + 2)">
        <p class="h5">...</p>
    </button>
    <div class="number cursor-pointer" *ngIf="page_total - page_current >=  2" (click)="goToPage(page_total)">
        <p class="h5">{{page_total}}</p>
    </div>
    <!-- Next -->
    <button class="before-next" *ngIf="page_current < page_total" [disabled]="page_current >= page_total"
        [ngClass]="page_current >= page_total ? 'button-disabled' : 'before-next' " (click)="goToNextPage()">
        <p class="h5">Next</p>
    </button>
</div>