.question {
    background-color: var(--color-main-ultra-light-2);
    width: 100%;
    min-height: 50px;
    border-radius: 8px;
    z-index: 3;
}

.reply {
    background-color: var(--color-disabled);
    width: 100%;
    min-height: 50px;
    border-radius: 8px;
    z-index: 3;
}

.question-container {
    position: relative;
}

.line {
    background-color: var(--color-main-2);
    position: absolute;
    height: 92%;
    width: 3px;
    right: 15px;
    border-radius: 2px;
    z-index: 2;
}


.button-text-link {
    text-decoration: none;
}