.container-cards-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: unset;
    width: 100%;
    max-height: 550px;
    gap: 8px;
}

.button-cat-right {
    position: absolute;
    display: none;
    opacity: 75%;
    right: 0;
    top: 41%;
}

.button-cat-left {
    position: absolute;
    display: none;
    opacity: 75%;
    left: 0;
    top: 41%;
}

.container-categories:hover>div {
    display: flex;
}