<section class="d-flex flex-column gap-3">
    <!-- Countries -->
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="h5 bold">Made in:</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-column-start-center">
            <mat-radio-group class="flex-column-start-center gap-1" [formGroup]="form_filter_countries">
                <mat-checkbox #countries_all (change)="form_filter_countries.reset()">
                    All countries 🌎
                </mat-checkbox>
                <mat-checkbox [checked]="item.filter" *ngFor="let item of countries" [formControlName]="item.isoCode"
                    (change)="item.filter = !item.filter; countries_all.checked">
                    {{item.name}} {{item.flag}}
                </mat-checkbox>
            </mat-radio-group>
        </section>
    </mat-expansion-panel>
    <!-- Categories -->
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="h5 bold">Categories:</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-column-start-center">
            <mat-radio-group class="flex-column-start-center gap-1" [formGroup]="form_filter_categories">
                <mat-checkbox [checked]="item.filter" *ngFor="let item of categories" [formControlName]="item.slug"
                    (change)="item.filter = !item.filter">
                    {{item.title}} {{item.filter}}
                </mat-checkbox>
            </mat-radio-group>
        </section>
    </mat-expansion-panel>
    <!-- Price -->
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="h5 bold">Price:</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-column-start-center gap-2" [formGroup]="form_filter_price">
            <mat-radio-group class="flex-column-start-center gap-1" formControlName="price">
                <mat-radio-button [value]="item.slug" *ngFor="let item of price_list">{{item.name}}</mat-radio-button>
            </mat-radio-group>
            <div class="d-flex flex-row w-100 gap-2">
                <mat-form-field class="w-50">
                    <mat-label>Min. price</mat-label>
                    <input matInput placeholder="0" [value]="form_filter_price.value.price">
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Max. price</mat-label>
                    <input matInput placeholder="-" [value]="form_filter_price.value.price">
                </mat-form-field>
            </div>
        </section>
    </mat-expansion-panel>
    <!-- Condition -->
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="h5 bold">Condition:</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-column-start-center" [formGroup]="form_conditions">
            <mat-checkbox *ngFor="let condition of condition_list" [formControlName]="condition.slug">
                {{condition.name}}
            </mat-checkbox>
        </section>
    </mat-expansion-panel>
    <!-- Sort by -->
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="h5 bold">Sort by:</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-column-start-center" [formGroup]="form_filter_sort_by">
            <mat-radio-group class="flex-column-start-center gap-1" formControlName="sort_by">
                <mat-radio-button [value]="item.slug" *ngFor="let item of sort_list">{{item.name}}</mat-radio-button>
            </mat-radio-group>
        </section>
    </mat-expansion-panel>
    <!-- Clear filters -->
    <div class="flex-row-center pt-3 pb-2">
        <button class="button-main button-rounded" mat-raised-button (click)="clearFilters()">
            <p class="font-weight-bold h5">
                Clean Filters
            </p>
        </button>
    </div>
</section>