.mat-expansion-panel {
    border: none;
    box-shadow: none !important;
}

.mat-checkbox .mat-checkbox-frame {
    transform: scale(0.8);
}

mat-checkbox {
    width: 100%;
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(0.8);
}

.mat-radio-container {
    transform: scale(0.8);
}

mat-expansion-panel-header {
    padding: 0 14px !important;
}

.mat-expansion-panel-body {
    padding: 0 14px 16px !important;
}

agm-map {
    border-radius: 4px;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.icons {
    color: var(--color-main-2);
}

.icon-trending {
    color: var(--color-alert);
}

.icon-best-seller {
    color: var(--color-main);
}