<section *ngIf="portfolio">
    <a (click)="openItem()">
        <mat-card class="d-flex flex-column align-items-center justify-content-between p-0 m-0">
            <mat-card-header>
                <!-- Like (Badge) -->
                <div class="badge-like flex-row-center m-2" (click)="$event.stopPropagation(); likedCard()">
                    <img *ngIf="is_liked_by_user" src="./assets/icons/heart-full.png" width="30" height="30"
                        alt="heart filled">
                    <img *ngIf="!is_liked_by_user" src="./assets/icons/heart-outline.png" width="30" height="30"
                        alt="heart outline">
                </div>
                <!-- Best seller (ribbon) -->
                <div class="ribbon-wrapper" *ngIf="portfolio.best_seller">
                    <p class="ribbon h6 bold">Best Seller</p>
                </div>
                <!-- New item (ribbon) -->
                <div class="ribbon-new-item px-2 py-1" *ngIf="portfolio.condition === 'new'">
                    <p class="h6 bold">Nuevo</p>
                </div>
            </mat-card-header>
            <!-- Item image -->
            <span *ngIf="!show_swiper; else imgs_carousel" class="img-container p-0"
                [ngbTooltip]="portfolio.description">
                <img mat-card-image
                    [src]="portfolio && portfolio.images && portfolio.images.length > 0 ? portfolio.images[0] : 'https://material.angular.io/assets/img/examples/shiba2.jpg'"
                    alt="Photo of a Shiba Inu">
            </span>
            <mat-card-content
                class="d-flex flex-row flex-wrap align-items-center justify-content-between m-0 w-100 p-2 pb-0">
                <!-- Name -->
                <div class="w-100">
                    <p class="h5 name ellipsis">
                        {{portfolio && portfolio.name ? portfolio.name : 'Name or your product'}}
                    </p>
                </div>
                <!-- Price -->
                <div class="w-75 m-0">
                    <ng-container *ngIf="!portfolio.price_discount || portfolio.price_discount === 0; else discount">
                        <p class="h4 bold">{{ price | currency: 'CAD$ ':'symbol':'1.2-2' }}</p>
                    </ng-container>
                    <ng-template #discount>
                        <span class="d-flex flex-column">
                            <sub>
                                <p class="text-danger text-decoration-line-through py-1">
                                    {{ price | currency: 'CAD$ ':'symbol':'1.2-2' }}
                                </p>
                            </sub>
                            <p class="text-success h4 bold">
                                {{ portfolio.price_discount | currency: 'CAD$ ':'symbol':'1.2-2'}}
                            </p>
                        </span>
                    </ng-template>
                </div>
                <!-- Hot -->
                <div class="w-25 d-flex justify-content-end" *ngIf="portfolio.trending">
                    <p class="h3 hot-item">
                        <fa-icon [icon]="FONT_AWESOME_ICONS.icon_fire" ngbTooltip="Trending"></fa-icon>
                    </p>
                </div>
                <!-- Location -->
                <div class="w-100">
                    <p class="h6 text-start ellipsis">
                        {{ portfolio.pickup_administrative_area_level_1 }}
                    </p>
                </div>
                <!-- Category & Sub Category -->
                <div class="w-100">
                    <p class="h6 text-start ellipsis"
                        [ngbTooltip]="portfolio.category.title + ' - ' + portfolio.sub_category.title">
                        {{ portfolio.category.title }} - {{ portfolio.sub_category.title }}
                    </p>
                </div>
            </mat-card-content>
            <mat-card-actions
                class="d-flex w-100 flex-row justify-content-between align-items-center px-2 pt-1 pb-1 m-0">
                <!-- Type of seller -->
                <div class="d-flex flex-row gap-1">
                    <!-- Non profit -->
                    <div class="badge h5 flex-row-center" *ngIf="portfolio.non_profit">
                        <fa-icon [icon]="FONT_AWESOME_ICONS.icon_non_profit"
                            ngbTooltip="Non profit organization"></fa-icon>
                    </div>
                    <!-- Hand craft -->
                    <div class="badge h5 flex-row-center" *ngIf="portfolio.hand_craft">
                        <fa-icon [icon]="FONT_AWESOME_ICONS.icon_hand_craft" ngbTooltip="Hand craft"></fa-icon>
                    </div>
                    <!-- Start up -->
                    <div class="badge h5 flex-row-center" *ngIf="portfolio.start_up">
                        <fa-icon [icon]="FONT_AWESOME_ICONS.icon_start_up" ngbTooltip="Start up"></fa-icon>
                    </div>
                    <!-- Reccomended -->
                    <div class="badge h5 flex-row-center" *ngIf="portfolio.recommended">
                        <fa-icon [icon]="FONT_AWESOME_ICONS.icon_hat" ngbTooltip="Recommended Kioskofy"></fa-icon>
                    </div>
                </div>
                <!-- Flag -->
                <div class="flex-row-center h3" [ngbTooltip]="portfolio.country.title">
                    <span>
                        {{ portfolio.country.flag }}
                    </span>
                </div>
            </mat-card-actions>
        </mat-card>
    </a>
</section>

<!-- Carousel of images -->
<ng-template #imgs_carousel>
    <app-swiper [imgs]="portfolio.images" [aspect_ratio]="'4 / 3'"></app-swiper>
</ng-template>