mat-card {
    width: 180px;
    height: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

mat-card-header {
    position: relative;
    width: 100%;
    z-index: 100;
}

mat-card-content {
    height: 50%;
}

.img-container {
    height: 170px;
    width: 100%;
    background-color: var(--color-light-grey);
}

.mat-card-image {
    width: calc(100%);
    height: 100%;
    margin: 0;
    display: block;
    overflow: hidden;
    object-fit: contain;
}

.mat-card-image:first-child {
    margin: 0;
}

a {
    text-decoration: none !important;
}

p {
    margin: 0;
}

.hot-item {
    animation: beat 1s infinite alternate;
    transform-origin: center;
    color: var(--color-alert);
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;

}

.ribbon {
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 4px 0;
    top: 20px;
    left: -28px;
    width: 120px;
    background-color: var(--color-main);
    color: var(--color-main-2);
}

.ribbon-new-item {
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 120;
    background-color: var(--color-main-2);
    opacity: 70%;
    color: var(--color-light);
}

.badge {
    background-color: white;
    color: var(--color-main-2);
    border: 1px solid var(--color-main-2);
    height: 27px;
    width: 27px;
    border-radius: 50%;
}

.badge-country {
    background-color: var(--color-main-2);
    color: var(--color-light);
    border: 1px solid var(--color-main-2);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.badge-best-seller {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-main-2);
    color: var(--color-main);
    height: 30px;
    width: 30px;
    border: 1px solid var(--color-main);
}

.badge-like {
    z-index: 140;
    position: absolute;
    top: 0;
    right: -0;
    height: 30px;
    width: 30px;
}


/* Heart beat animation */
@keyframes beat {
    to {
        transform: scale(1.2);
    }
}