<footer>
    <section id="wrapper-top">
        <div class="py-4 container-max-width-center d-flex align-items-center h-100">
            <img src="../../../../assets/logos/logo300.png" alt="Company logo">
        </div>
    </section>
    <section class="my-3 container-max-width-center d-flex justify-content-center">
        <div class="col-3 pe-3">
            <img src="../../../../assets/logos/logo300.png" alt="">
        </div>
        <div class="col-3">
            <div class="d-flex flex-column">
                <h3 class="text-color-mai">Contact Us</h3>
                <h4>mitierralatina.com</h4>
                <h4>+1 778 322 9107</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column">
                <h3 class="text-color-mai">Privacy and Policies</h3>
                <h4>Terms and conditions</h4>
                <h4>Policies and privacy</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column">
                <h3 class="text-color-mai">Our Media</h3>
                <h4>mitierralatina.com</h4>
                <h4>+1 778 322 9107</h4>
            </div>
        </div>
    </section>
</footer>