footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 0px;
    width: 100vw;
    background: yellow;
}

#wrapper-top {
    background-color: var(--color-main-dark);
    height: 80px;
}

h3 {
    font-weight: bolder !important;
}