#main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: var(--size-window);
    width: 100%;
    gap: 20px;
}

#main-container>div {
    row-gap: 10px;
    column-gap: 20px;
}

.map {
    border-radius: 0.375rem;
    overflow: hidden;
}

.icon-star {
    color: var(--color-main);
}