<section id="main-container" *ngIf="portfolio">
    <div class="d-flex flex-row col-12">
        <div class="col-md-6 gallery flex-row-between gap-3">
            <app-portfolio-detail-thumbnails (changeImage)="changeImage($event)" class="h-100"
                [images]="portfolio.images" [image_selected]="image_selected"></app-portfolio-detail-thumbnails>
            <app-portfolio-detail-gallery class="w-100" [image_selected]="image_selected"
                [portfolio]="portfolio"></app-portfolio-detail-gallery>
        </div>
        <div class="col-md-6 d-flex flex-column gap-3">
            <div class="card-container">
                <app-portfolio-detail-data [portfolio]="portfolio"></app-portfolio-detail-data>
            </div>
            <div class="card-container h-100">
                <app-portfolio-detail-description
                    [description]="portfolio.description"></app-portfolio-detail-description>
            </div>
            <div class="card-container d-flex flex-row justify-content-between" *ngIf="portfolio.pickup_locations">
                <span class="d-flex flex-row col-md-5 gap-2">
                    <span class="user-picture">
                        <ng-container *ngIf="!portfolio.seller.image; else seller_picture">
                            <fa-icon [icon]="icon_user" size="xl"></fa-icon>
                        </ng-container>
                        <ng-template #seller_picture>
                            <img [src]="portfolio.seller.image" alt="" height="70" width="70">
                        </ng-template>
                    </span>
                    <span class="d-flex flex-column justify-content-center align-items-start">
                        <p class="bold m-0">{{portfolio.seller.name}} {{portfolio.seller.last_name}}</p>
                        <span class="d-flex flex-row gap-2">
                            <fa-icon class="icon-star" size="lg" [icon]="icon_star"></fa-icon>
                            <p class="m-0">5.0</p>
                        </span>
                    </span>
                </span>
                <button class="col-md-7 button-main-2 flex-row-center gap-2" (click)="createOrder()">
                    <p class="bold m-0 h5">Message</p>
                    <fa-icon class="icon-upload-img" size="xl" [icon]="icon_message"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 card-container">
        <p class="bold">Tentative pick-up locations</p>
        <div *ngIf="portfolio.pickup_locations">
            <app-portfolio-detail-location [locations]="portfolio.pickup_locations"></app-portfolio-detail-location>
        </div>
    </div>
</section>