<section class="flex-column-start-center gap-1">
    <p class="col-6 h3 bold">{{ portfolio.name }}</p>
    <p class="h5 bold">{{ portfolio.stock > 0 ? 'In stock' : 'Out of stock' }}</p>
    <p class="h5">Listed in {{ portfolio.pickup_administrative_area_level_1 }}</p>
    <p class="d-flex flex-row align-items-center h5">
        Made in: {{ portfolio.country.name }} <span class="h4">&nbsp;&nbsp;{{ portfolio.country.flag }}</span>
    </p>
    <p class="h5">Condition: {{ portfolio.condition }}</p>
    <p class="h5">Stock available: {{ portfolio.stock }}</p>
    <span class="d-flex flex-row">
        <a class="button-text-link">{{portfolio.category.title }}</a>
        <span *ngIf="portfolio.sub_category && portfolio.sub_category.title">
            &nbsp;&nbsp;-&nbsp;
            <a class="button-text-link">{{ portfolio.sub_category.title }}</a>
        </span>
    </span>
    <span class="d-flex flex-row test">
        <span href="#" class="rightArrow bold px-5">
            <ng-container *ngIf="!portfolio.price_discount || portfolio.price_discount === 0; else discount">
                <p class="h4 bold ">{{ portfolio.price | currency: 'CAD':'symbol':'1.2-2' }}</p>
            </ng-container>
        </span>
    </span>
</section>

<ng-template #discount>
    <span class="d-flex flex-column">
        <p class="text-light text-end text-decoration-line-through h6">
            {{ portfolio.price | currency: 'CAD':'symbol':'1.2-2' }}
        </p>
        <p class="h4 bold">
            {{ portfolio.price_discount | currency: 'CAD$ ':'symbol':'1.2-2'}}
        </p>
    </span>
</ng-template>