.image-container {
    object-fit: contain;
    position: relative;
    max-height: 120px;
}

.button-main-gray {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 70%;
}

.image-container>img {
    max-height: 100%;
    max-width: 100%;
}

::ng-deep .modal-lg, ::ng-deep .modal-dialog {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    padding: 0;
    margin: 0;
}

::ng-deep .modal-content {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;
}

::ng-deep app-portfolio-detail-gallery-swiper {
    height: 100%;
}