<div class="flex-column-center text-center p-4 gap-4">
    <div class="col-12">
        <img [src]="getImage()" height="170" alt="Ícono modal" />
    </div>
    <div class="col-12">
        <p class="h3">{{ title }}</p>
    </div>
    <div class="col-12">
        <p class="h4">{{ msg }}</p>
    </div>
    <div class="col-12" *ngIf="msg_alert !== ''">
        <p class="h5">{{ msg_alert }}</p>
    </div>
    <div class="col-12 mt-1">
        <button class="button-main m-auto col-6" (click)="closeModal()">
            <span class="h4">{{ btn_msg }}</span>
        </button>
    </div>
</div>