<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="d-flex flex-column align-items-center justify-content-center m-0">
        <h4 class="d-inline-block text-truncate text-capitalize font-weight-bold">The Shiba Inu is the</h4>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h3 class="font-weight-bold">{{ 5000 | currency: 'CAD':'symbol':'1.0-0' }}</h3>
            <sub>/25 kg</sub>
        </div>
        <img src="https://flagsapi.com/BE/flat/16.png" width="16" height="16">
    </mat-card-content>
</mat-card>